<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>a {text-decoration: none;} </style>
<body>

  <!--comment<div class="tab">

  </div>-->

<center>
<!--<h1><font size = "20"><i>We Are Women</i></font></h1>-->
<div class="jumbotron">
  <h1 class="display-4">We Are Women</h1>
  <center>
  <!-- Tab links -->
  <a class="btn btn-light btn-lg" href="#" role="button">Home</a>
  <a class="btn btn-light btn-lg" href="/page2" role="button">Events</a>
  <a class="btn btn-light btn-lg" href="/news" role="button">News</a>
  </div>
</center>
<div class="container">
<center>
<h2 id="p1">'We Are Women' aims to connect women across the United States.</h2>
<p>Our website and idea relate to the theme because we interpreted ‘and’ as a word that is used to connect things together and also add to a list of things. For this reason, we decided to create a website that connected women together into a platform of many women, therefore adding to the community. Our website was inspired by International Women’s Day on March 8th. Our main goal is connecting women across the United States by offering lists of events happening in each state that are focused on both inspiriting and bringing women together. We created a platform that uses the new API to show the latest news on women’s accomplishment. We used certain keywords that were implemented in the API in order to show on our website the news related to things like empowerment and celebration of women’s days. Since this year’s hashtag for women’s day is BalanceforBetter, the news articles on this website will eventually make the world balanced, for better.
</p>


<iframe src="https://giphy.com/embed/3oge7Ve0gmIOhJkhOg" width="480" height="480" frameBorder="0" class="giphy-embed" class="center" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/netflix-film-3oge7Ve0gmIOhJkhOg">via GIPHY</a></p>

</center>
</div>
</body>

</html>
