<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <center>
    <div class="jumbotron">
      <h1 class="display-4">We Are Women</h1>
  <!-- Tab links -->
    <a class="btn btn-light btn-lg" href="/hacktrin" role="button">Home</a>
    <a class="btn btn-light btn-lg" href="#" role="button">Events</a>
    <a class="btn btn-light btn-lg" href="/news" role="button">News</a>
    </div>
  </center>
</head>

<body>
<br></br>
<center>
<h3>Locations of Events:</h3>
  <br>
  </br>
<!--  <div class="btn-group">
    <button onclick="washdc()">Washington D.C.</button>
    <button onclick="ny()">New York</button>
    <button>Maryland</button>
    <button>Virginia</button>
  </div>
-->

</center>
<div class="container">
<b>California</b>
<br></br>
<p>LA Women in Industry: Building Inclusive Teams for Success
</p>
<p>
About:
<br></br>
In honor of Women’s History Month, leaders from General Assembly, Oracle, and The Walt Disney Company will lead an action-packed discussion on how we can effectively engage and cultivate teams that support and celebrate inclusiveness at all levels.
</p>
<a href="https://www.eventbrite.com/e/la-women-in-industry-building-inclusive-teams-for-success-tickets-56155868715">Click here to learn more</a>
<br></br>
<b>Colorado</b>
<br></br>
<p>Women in Industry: Building Inclusive Teams for Success
</p>
<p>
About:
<br></br>
Hear from leaders in our community leading the discussion on difficult topics affecting not only women in the workforce but organizations at all levels. Our speakers will discuss unconscious biases uncovered during their journeys, the importance of taking an in-depth look into your company's culture and actionable takeaways you can implement into your talent pipeline strategies for meaningful impact.
</p>
<a href="https://www.eventbrite.com/e/women-in-industry-building-inclusive-teams-for-success-tickets-56940913806">Click here to learn more</a>
<br></br>
  <b>Georgia</b>
  <br></br>
  <p>ATL Women in Tech Breakfast: Building Inclusive Teams for Success
</p>
<p>
  About:
  <br></br>
  In honor of Women’s History Month, GA and the Atlanta BeltLine will bring together guest speakers that will lead an action-packed discussion on how we can effectively engage and cultivate teams that support and celebrate inclusiveness at all levels.
</p>
  <a href="https://www.eventbrite.com/e/atl-women-in-tech-breakfast-building-inclusive-teams-for-success-tickets-55789389566">Click here to learn more</a>
  <br></br>
  <b>Iowa</b>
  <br></br>
  <p>Chrysalis Women's Alliance</p>
  <p>
    About:
    <br></br>
    Chrysalis continues to lead the conversation about education, empowerment, social and economic equality — to ensure that girls and women have the opportunity to contribute to our community in meaningful and lasting ways.
  </p>
  <a href="https://www.eventbrite.com/e/chrysalis-womens-alliance-tickets-55027349283?aff=ebdssbdestsearch">Click to learn more</a>
  <br></br>
  <b>Massachusetts</b>
  <br></br>
  Women in Industry: Building Inclusive Teams for Success
  <p>
    About:
    <br></br>
    In honor of Women’s History Month, GA and their guest speakers will lead an action-packed discussion on how we can effectively engage and cultivate teams that support and celebrate inclusiveness at all levels.
  </p>
  <a href="https://www.eventbrite.com/e/women-in-industry-building-inclusive-teams-for-success-tickets-56060219626" target="_blank">Click to learn more</a>
  <br></br>
  <b>New York</b>
  <br></br>
    Women's International Forum (WIF)
  <p>
    About:
    <br></br>
    The Women’s International Forum is delighted to invite its members to the screening of the film « The man who mends women » on 18 March at 6.30 pm at Cinema Village, 22 East 12th Street. WIF is collaborating with the Socially Relevant Film Festival to bring this movie exclusively to WIF  members.  The movie chronicles the life and work of the 2018 Nobel Price gynecologist and human rights activist Dr Denis Mukwege and his efforts to heal the women who have been raped in the conflict in the Democratic Republic of Congo.
  </p>
  <a href="http://womensinternationalforum.org/upcoming-event/" target="_blank">Click to learn more</a>
  <br></br>
  <b>Rhode Island</b>
  <br></br>
  Women Helping Women
  <p>
    About:
    <br></br>
    Save the date and mark your calendars for Crossroads 12th Annual Women Helping Women event on April 10! Held at the Providence Biltmore, all proceeds from this event benefit the Women's Shelter and other programs for women at Crossroads.
  </p>
  <a href="https://www.crossroadsri.org/Ways-to-Help/Special-Events/Women-Helping-Women" target="_blank">Click to learn more</a>
  <br></br>
  <b>Texas</b>
  <br></br>
  <p>Women in Industry: Building Inclusive Teams for Success
</p>
<p>
  About:
  <br></br>
In honor of Women’s History Month, leaders from Austin's top organizations will lead an action-packed discussion on how we can effectively engage and cultivate teams that support and celebrate inclusiveness at all levels.
</p>
  <a href="https://www.eventbrite.com/e/women-in-industry-building-inclusive-teams-for-success-tickets-56068847432">Click here for more</a>
  <br></br>
  <b>Washington</b>
  <br></br>
  Women in Industry: Building Inclusive Teams for Success
  <p>
    About:
  <br></br>
  In honor of Women’s History Month, leaders from General Assembly will lead an action-packed discussion on how we can effectively engage and cultivate teams that support and celebrate inclusiveness at all levels
</p>
  <a href="https://www.eventbrite.com/e/women-in-industry-building-inclusive-teams-for-success-tickets-56145877832" target="_blank">Click to learn more</a>
  <br></br>
  <b>Washington D.C.</b>
  <br></br>
  Women Empower X
  <p>
    About:
  <br></br>
  "WEX is the premier event for entrepreneurs, change-makers, go-getters, creatives, industry leaders, and any woman who has a dream and a mission to turn her ideas into reality."
  </p>
  <a href="https://womenempowerx.com/" target="_blank">Click to learn more</a>

  </div>

<script src="hacktrin.js"></script>

</body>
</html>
